h1 {
  color: oldlace;
  font-style: oblique;
 font-family: cursive;
 font-size:35 px;
 text-align: end;
}
h2 {
  color: oldlace;
  font-style:italic;
 font-family: initial;
 font-size: 12pxl;
 text-align: center;
}



body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #17172c;
  }
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  .slides input{
    display: none;
  }
  .slide{
    width: 20%;
    transition: 2s;
  }
  .slide img{
    width: 800px;
    height: 500px;
  }
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -39px;
    display: flex;
    justify-content: center;
  }
  .manual-btn{
    border: 2.5px solid #661405;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #1c9c9c;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  #radio4:checked ~ .first{
    margin-left: -30%;
  }
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 475px;
  }
  
  .navigation-auto div{
    border: 0px solid #4eb6a894;
    padding: 5px;
    border-radius: 10px;
    transition: 2.4s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: whitesmoke;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: whitesmoke;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: whitesmoke;
  }
  
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background: whitesmoke;
  }